.content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#aboutText {
    background-color: royalblue;
    color: white;

    margin-top: 100px;
    padding: 15px;

    font-family: Mulish;
    font-size: 40px;
    font-weight: bold;
}
