.content {
    margin-top: 30px;
}

.resultsText {
    text-align: center;
    justify-content: center;
}
#resultsText {
    background-color: darkblue;
    font-family: Mulish;
    font-weight: bold;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
    justify-items: center;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
}

.original,
.masked,
.output {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.original {
    grid-column-start: 1;
}
.masked {
    grid-column-start: 2;
}
.output {
    grid-column-start: 3;
}

#original,
#masked,
#output {
    width: 90%;
    height: auto;
}
.images > div > button {
    margin-bottom: 10px;
    background-color: darkblue;
    border: none;
    font: 20px Mulish;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

.again {
    margin-top: 20px;
}
.again > form {
    text-align: center;
}
.again > form > button {
    border: none;
    background-color: royalblue;
    font: 20px Mulish;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
}
