{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='inpainting.css')}}">
{% endblock %}

{% block title %}
    {% block demo %}Results{% endblock %}
{% endblock %}

{% block content %}
    <div class="resultsText">
        <p id="resultsText">Results</p>
    </div>

    <div class="images">
        <div class="original">
            <button type="button" class="original">Original</button>
            <img class="original" id="original" src="{{ url_for('assets', filename='original.jpg') }}" alt="original">
        </div>
        <div class="masked">
            <button type="button" class="masked">Masked</button>
            <img class="masked" id="masked" src="{{ url_for("assets", filename="masked.jpg") }}" alt="masked">
        </div>
        <div class="output">
            <button type="button" class="output">Output</button>
            <img class="output" id="output" src="{{ url_for("assets", filename="output.jpg")}}" alt="output">
        </div>
    </div>

    <div class="again">
      <form id="again" method="post">
        <input type="hidden" name="form_id" value="again">
        <button type="submit">Again?</button>
      </form>
    </div>

{% endblock %}
